linux_roles:
  - system
  - pacman
  - packages
  - bluetooth
  - bspwm
  - docker
  - dunst
  - ghostty
  - git
  - gtk
  - nvim
  - polybar
  - redshift
  - rofi
  - scripts
  - spotify-player
  - ssh
  - sxhkd
  - tmux
  - xorg
  - zsh

darwin_roles:
  - system
  - packages
  - ghostty
  - nvim
  - scripts
  - ssh
  - tmux
  - zsh

is_laptop: true
terminal_font_size: 10
