linux_roles:
  - system
  - pacman
  - packages
  - alacritty
  - appearance
  - bluetooth
  - bspwm
  - cursor
  - docker
  - dunst
  - ghostty
  - git
  - nvim
  - polybar
  - redshift
  - rofi
  - scripts
  - ssh
  - sxhkd
  - tmux
  - xorg
  - zsh

darwin_roles:
  - packages
  - alacritty
  - cursor
  - ghostty
  - nvim
  - scripts
  - ssh
  - tmux
  - zsh

has_battery: false
