source $HOME/.zsh/aliases.zsh
source $HOME/.zsh/binds.zsh
source $HOME/.zsh/exports.zsh
source $HOME/.zsh/functions.zsh
source $HOME/.zsh/opts.zsh
source $HOME/.zsh/sheldon.zsh
source $HOME/.zsh/zstyle.zsh

{% if is_linux %}
source /usr/share/fzf/key-bindings.zsh
source /usr/share/fzf/completion.zsh
. /opt/asdf-vm/asdf.sh
{% endif %}
{% if is_darwin %}
eval "$(fzf --zsh)"
fpath=(~/.zsh $fpath)
autoload -Uz compinit && compinit
. /usr/local/opt/asdf/libexec/asdf.sh
{% endif %}
