#!/usr/bin/env zsh

{% if is_linux %}
# @TODO: Fill in with linux paths
{% endif %}
{% if is_darwin %}
export ANDROID_HOME=$HOME/Library/Android/sdk
export ANDROID_NDK_HOME=$HOME/Library/Android/sdk/ndk
export JAVA_HOME=/opt/homebrew/Cellar/openjdk@17/17.0.13
{% endif %}

export DISABLE_AUTO_UPDATE="false"
export DOCKER_BUILDKIT=1
export EDITOR=nvim
export FZF_DEFAULT_COMMAND="rg --files --no-ignore --hidden --follow -g '!{.git,node_modules}/*' 2> /dev/null"
export GITHUB=https://github.com/jamtartley
export HISTFILE="$HOME/.zsh_history"
export HISTSIZE=10000000
export KEYTIMEOUT=25
export MANPAGER='nvim +Man!'
export MANWIDTH=999
export SAVEHIST=10000000
export VISUAL=nvim
export VI_MODE_SET_CURSOR=true
export XDG_CONFIG_HOME=$HOME/.config
export _JAVA_AWT_WM_NONREPARENTING=1
