include                    diff.conf
include                    dracula.conf

kitty_mod                  super

inactive_text_alpha        0.75
active_border_color        #ff92df
inactive_border_color      #21222c

font_family                JetBrainsMono Nerd Font

confirm_os_window_close    0

enable_audio_bell          no

enabled_layouts            tall,stack

dynamic_background_opacity yes

map super+enter            new_window_with_cwd
map super+space            next_layout
map super+w                close_window
map super+t                new_tab
map super+tab              next_tab
map super+shift+tab        previous_tab

{% if is_linux %}
font_size                  10
{% elif is_darwin %}
font_size                  14
{% endif %}
