* {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
}

html, body {
    background: #282A36;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    color: #F8F8F2;
    text-decoration: none;
}

h1 {
    color: #F8F8F2;
    font-size: 4em;
    text-align: center;
    margin: 64px 0;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section {
    flex: 1 1 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #343747;
    margin: 16px 64px;
    padding: 16px;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 2em;
    margin: 16px;
}

.links {
    text-align: center;
}

.link {
    display: inline-block;
    margin: 12px;
    font-size: 1.2em;
    transition: all 0.1s ease;
}

.link:hover {
    transform: scale(1.1);
}

.animate-slide-in {
    position: relative;
    left: -150px;
    opacity: 0;
    animation: slide-in 0.5s forwards;
    animation-delay: var(--animation-time);
}

:delay-time {
    --animation-time: 2s;
}

@keyframes slide-in {
    100% {
        opacity: 1;
        left: 0;
    }
}
