---
- name: Ensure .zsh folder
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.zsh"
    state: directory

- name: Copy config files
  ansible.builtin.copy:
    src: ".zsh/"
    dest: "{{ ansible_user_dir }}/.zsh"

- name: Template .zshrc
  ansible.builtin.template:
    src: .zshrc.j2
    dest: "{{ ansible_user_dir }}/.zshrc"

- name: Compile .zshrc
  ansible.builtin.shell: zsh -c "zcompile {{ ansible_user_dir }}/.zshrc"

- name: Copy .zprofile
  ansible.builtin.copy:
    src: .zprofile
    dest: "{{ ansible_user_dir }}/.zprofile"

- name: Run Linux tasks
  import_tasks: linux.yaml
  when:
    - is_linux

- name: Run Darwin tasks
  import_tasks: darwin.yaml
  when:
    - is_darwin
