---
- name: Run common
  import_tasks: common.yaml

- name: Run ArchLinux tasks
  import_tasks: archlinux.yaml
  when:
    - is_archlinux

- name: Run Darwin tasks
  import_tasks: darwin.yaml
  when:
    - is_darwin
