---
- name: Ensure .zsh folder
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.zsh"
    state: directory

- name: Ensure sheldon folder
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/sheldon"
    state: directory

- name: Copy config files
  ansible.builtin.copy:
    src: ".zsh/"
    dest: "{{ ansible_user_dir }}/.zsh"

- name: Copy sheldon plugins
  ansible.builtin.copy:
    src: "sheldon/plugins.toml"
    dest: "{{ ansible_user_dir }}/.config/sheldon/plugins.toml"

- name: Template .zshrc
  ansible.builtin.template:
    src: .zshrc.j2
    dest: "{{ ansible_user_dir }}/.zshrc"

- name: Template .zprofile
  ansible.builtin.template:
    src: .zprofile.j2
    dest: "{{ ansible_user_dir }}/.zprofile"

- name: Template exports
  ansible.builtin.template:
    src: exports.zsh.j2
    dest: "{{ ansible_user_dir }}/.zsh/exports.zsh"


- name: Compile .zshrc
  ansible.builtin.shell: zsh -c "zcompile {{ ansible_user_dir }}/.zshrc"

- name: Run Linux tasks
  import_tasks: linux.yaml
  when:
    - is_linux
