---
- name: Set default shell
  user:
    name: "{{ ansible_env['USER'] }}"
    shell: /usr/bin/zsh
  become: yes

- name: Ensure .zsh folder
  ansible.builtin.file:
    mode: "0755"
    path: "{{ ansible_user_dir }}/.zsh"
    state: directory

- name: Copy .zshrc + .zprofile
  ansible.builtin.copy:
    mode: "0755"
    src: "{{ item }}"
    dest: "{{ ansible_user_dir }}/"
  loop:
    - .zprofile
    - .zshrc

- name: Copy config files
  ansible.builtin.copy:
    src: ".zsh/"
    dest: "{{ ansible_user_dir }}/.zsh"
