---
- name: Config folder
  ansible.builtin.file:
    mode: "0755"
    path: "{{ ansible_user_dir }}/.config/polybar"
    state: directory

- name: Copy launch_polybar
  ansible.builtin.copy:
    mode: "0755"
    src: "launch_polybar"
    dest: "{{ ansible_user_dir }}/.local/bin/"

- name: Copy config.ini
  ansible.builtin.copy:
    src: "config.ini"
    dest: "{{ ansible_user_dir }}/.config/polybar/"
