---
- name: Scripts folder
  ansible.builtin.file:
    mode: "0755"
    path: "{{ ansible_user_dir }}/.local/bin"
    state: directory
    recurse: true

- name: Config folder
  ansible.builtin.file:
    mode: "0755"
    path: "{{ ansible_user_dir }}/.config/polybar"
    state: directory

- name: Link launch_polybar
  ansible.builtin.file:
    src: "{{ ansible_env.PWD }}/roles/polybar/files/launch_polybar"
    dest: "{{ ansible_user_dir }}/.local/bin/launch_polybar"
    state: link
    force: true

- name: Template polybar config
  ansible.builtin.template:
    src: config.ini.j2
    dest: "{{ ansible_user_dir }}/.config/polybar/config.ini"
